<div class="customer">
  <div class="customer__slider">
    <div class="customer__slides slide1">
      <!-- <img class="customer__img" src="" alt="Emily" /> -->
      <p class="customer__review">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <p class="customer__adress">Emily, Los Angeles</p>
    </div>
    <div class="customer__slides slide2">
      <!-- <img class="customer__img" src="" alt="Bryan" /> -->
      <p class="customer__review">
        Every day we come to you with friends after classes in college. We love
        your ice cream and casual atmosphere!
      </p>
      <p class="customer__adress">Bryan, New-York</p>
    </div>
    <div class="customer__slides slide3">
      <!-- <img class="customer__img" src="" alt="Diana" /> -->
      <p class="customer__review">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <p class="customer__adress">Diana, Chicago</p>
    </div>
    <div class="customer__slides slide4">
      <!-- <img class="customer__img" src="" alt="Sam" /> -->
      <p class="customer__review">
        I love eating popsicles on a hot day. Yours is always delicious. I
        recommend your cafe to everyone I know.
      </p>
      <p class="customer__adress">Sam, Los Angeles</p>
    </div>
  </div>
  <input
    class="customer__slider-nav"
    type="radio"
    name="slider"
    title="slide1"
    checked="checked"
  />
  <input
    class="customer__slider-nav"
    type="radio"
    name="slider"
    title="slide2"
  />
  <input
    class="customer__slider-nav"
    type="radio"
    name="slider"
    title="slide3"
  />
  <input
    class="customer__slider-nav"
    type="radio"
    name="slider"
    title="slide4"
  />
</div>
