<!-- Mobile menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-logo">
    <svg width="40.47" height="31">
      <use href="/src/images/icon_sprite.svg#logo"></use>
    </svg>
  </div>
  <button class="menu-toggle js-close-menu">
    <svg width="32" height="32">
      <use href="/src/images/icon_sprite.svg#close-modal"></use>
    </svg>
  </button>
  <div class="mobile-menu">
    <ul class="mobile-menu list">
      <li class="mobile-menu_item">
        <a href="./index.html" class="">Home</a>
      </li>
      <li class="mobile-menu_item">
        <a href="./about.html" class="">How it’s made?</a>
      </li>
      <li class="mobile-menu_item">
        <a href="./products.html" class="">Our products</a>
      </li>
      <li class="mobile-menu_item">
        <a href="./contacts.html" class="">Contact</a>
      </li>
    </ul>
  </div>
  <div class="button-menu">
    <button class="btn-menu" type="button" data-modal-open>
      Buy now
      <svg class="btn-icon" width="12" height="12">
        <use href="/src/images/icon_sprite.svg#arrow-btn"></use>
      </svg>
    </button>
  </div>
</div>

<!-- mobile menu js-->
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="/src/index.js"></script>
