<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="18" height="18">
        <use href=""></use>
      </svg>
    </button>
    <h2>How it’s made?</h2>
    <iframe
      width="224"
      height="194"
      src="https://www.youtube.com/watch?v=LhDS2-PNiBE?autoplay=1&mute=1"
    >
    </iframe>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
