
<!-- data-modal-modalread -->

<div class="backdrop">   
    <div class="modalread">

<!-- data-modal-modalread-close -->

        <button class="close-modal-button" >
            <svg class="close-modal-icon" width="16" height="16">
                <use href="/src/images/icon_sprite.svg#close-modal"></use>
            </svg>
        </button>
        <h2 class="modalread__title">
            How it’s made?
        </h2>
        <button class="modalread__btn">
            <svg class="close-modal-icon" width="36" height="36">
            <use href="/src/images/icon_sprite.svg#icon-Vector"></use>
            </svg>
        </button>
        <p class="modalread__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
</div>
