// header logo

.header-logo {
  fill: var(--icon-bg-cl);
  cursor: pointer;

  //   padding-top: 12px;
  //   padding-bottom: 12px;

  //   @media screen and (min-width: 768px) {
  //     padding-top: 20px;
  //     padding-bottom: 8px;
  //   }

  //   @media screen and (min-width: 1200px) {
  //     padding-top: 18px;
  //     padding-bottom: 1px;
  //   }
}

.header-logo__icon {
  display: flex;
  align-items: center;
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 65px;
    height: 66px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.site-nav__list {
  display: flex;
  gap: 27px;
}

.site-nav__link {
  padding-top: 40px;
  padding-bottom: 14px;
}

.site-nav__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--light-txt-cl);
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}

.header-buttons__list {
  display: flex;
  gap: 32px;
  cursor: pointer;
  align-items: center;
}

.header-menu__btn {
  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 11px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.btn-burger {
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

.header-modal__button {
  font-family: 'Montserrat';
  font-style: normal;
  background-color: var(--default-btn-cl);
  color: var(--dark-txt-cl);
  border: 1px solid transparent;

  display: flex;
  align-items: center;
  text-align: center;

  width: 152px;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  padding: 12px 34px;
  margin: 0;

  border-radius: 10px;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  &:hover {
    background-color: var(--focus-btn-cl);
  }

  &:focus {
    background-color: var(--focus-btn-cl);
    color: var(--light-txt-cl);
  }
}

.header-menu__button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 32px;
  height: 32px;
  padding: 0;
  //   background-color: transparent;
  border: none;
}

.btn-buy {
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 6px;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.header-menu__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

// menu-container
.menu-container {
  position: fixed;
  padding: 12px 23px 63px 23px;
  display: flex;
  align-items: center;
  flex-direction: column;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--main-bg-cl);

  transform: translateX(100%);
  transition-duration: 0.25s;
  transition-timing-function: linear;

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    padding: 20px 32px 20px 32px;
  }
}

.mobile-menu__logo {
  position: absolute;
  top: 12px;
  left: 31px;
  display: flex;
  align-items: center;
  fill: var(--accent-txt-cl);
  width: 48px;
  height: 34px;

  @media screen and (min-width: 768px) {
    top: 20px;
    left: 32px;
    width: 48px;
    height: 44px;
  }
}

.menu-toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  display: flex;
  align-items: center;
  fill: var(--light-bg-cl);

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-txt-cl);
  }

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.mobile-nav__list {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 51px;

  @media screen and (min-width: 768px) {
    gap: 40px;
    margin-top: 76px;
  }
}

.mobile-nav__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--light-txt-cl);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--dark-txt-cl);
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.2;
  }
}

.btn-mobile {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
